[submodule "nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "everforest"]
	path = pack/colors/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule "vim-misc"]
	path = pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "easytags"]
	path = pack/plugins/start/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "pack/plugins/start/-name=ctrlp"]
	path = pack/plugins/start/-name=ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
